{* Dialogs for Contact page *}

  <div id="ContactEditDialog" style="display: none">
  <form method="post" action="contact.php"
        id="ContactEditForm" autocomplete="off">
    {* EditContactID just tells contact.php that we're editing
        the contact info *}
    <input type="hidden" name="EditContactID" id="EditContactID">
    <input type="hidden" name="ContactID"
       value="{$cdata->contact_id}">
    <input type="hidden" name="buttonAction">
    <table class="edit">
      <tr><td class="label">Contact Type: </td>
          <td><select id="EditContactType" name="EditContactType">
              {foreach from=$contact_type_list item=$tl}
                <option value="{$tl.contact_type_id}">
                {$tl.contact_type}</option>
              {/foreach}
          </select></td>
      </tr>
      <tr><td class="label">First: </td>
        <td><input id="EditFirst" name="EditFirst"></td></tr>
      <tr><td class="label">Middle: </td>
        <td><input id="EditMiddle" name="EditMiddle"></td></tr>
      <tr><td class="label">Last: </td>
        <td><input id="EditLast" name="EditLast"></td></tr>
      <tr><td class="label">Degree: </td>
          <td><select id="EditDegree" name="EditDegree">
              <option value="0">&nbsp;</option>
              {foreach from=$degree_list item=$tl}
                <option value="{$tl.degree_id}">
                {$tl.degree}</option>
              {/foreach}
          </select></td>
      </tr>
      <tr><td class="label">Nickname: </td>
        <td><input id="EditNickname" name="EditNickname"></td></tr>
      <tr><td class="label">DOB: </td>
        <td><input type="date" id="EditDOB" name="EditDOB"></td>
      </tr>
      <tr><td class="label">Gender: </td>
        <td><label for="Male">Male</label>
        <input type="radio" name="EditGender" id="Male"
           value="Male">
        <label for="Female">Female</label>
        <input type="radio" name="EditGender" id="Female"
           value="Female">
        </td>
      </tr>
      <tr><td class="label">Deceased: </td>
        <td><input type="checkbox" name="EditDeceased"
           id="EditDeceased">
        </td>
      </tr>
      <tr><td class="label">Red Rocks: </td>
        <td><input type="checkbox" name="EditRedRocks"
           id="EditRedRocks">
        </td>
      </tr>
      <tr><td class="label">Username: </td>
        <td><input name="EditUsername" id="EditUsername">
        </td>
      </tr>
      <tr><td class="label">Password: </td>
        <td><input type="password" name="EditPassword"
          id="EditPassword">
        </td>
      </tr>
  </table>
  </form> {* ContactEditForm *}
  </div> {* ContactEditDialog *}

  <div id="RelationshipEditDialog" style="display: none">
  <form method="post" action="contact.php"
        id="RelationshipEditForm" autocomplete="off">
    <input type="hidden" name="EditRelationshipID"
       id="EditRelationshipID">
    <input type="hidden" name="ContactID" 
       value="{$cdata->contact_id}">
    <input type="hidden" id="RelativeID" name="RelativeID">
    <input type="hidden" name="buttonAction">
    <table class="edit">
      <tr><td>
         <select id="EditRelationshipType"
             name="EditRelationshipType">
           {foreach from=$relationship_type_list item=$tl}
             <option value="{$tl.relationship_type_id}">
                {$tl.relationship_type}</option>
           {/foreach}
         </select></td>
      <td> of </td>
      <td><input id="EditRelation" name="EditRelation"
         value="">
      </td></tr>
  </table>
  </form> {* RelationshipEditForm *}
  </div> {* RelationshipEditDialog *}

  <div id="PhoneEditDialog" style="display: none">
  <form method="post" action="contact.php"
        id="PhoneEditForm" autocomplete="off">
    <input type="hidden" name="EditPhoneID" id="EditPhoneID">
    <input type="hidden" name="ContactID" value="{$cdata->contact_id}">
    <input type="hidden" name="buttonAction">
    <table class="edit">
      <tr><td class="label">Phone Type: </td>
          <td><select id="EditPhoneType" name="EditPhoneType">
              {foreach from=$phone_type_list item=$tl}
                <option value="{$tl.phone_type_id}">
                {$tl.phone_type}</option>
              {/foreach}
          </select></td>
      </tr>
      <tr><td class="label">Phone: </td>
        <td><input id="EditNumber" name="EditNumber"></td></tr>
        <tr title="{$phone_formatted}"><td class="label">Formatted: </td>
        <td><input type="checkbox" id="EditFormatted"
            name="EditFormatted"></td>
      </tr>
  </table>
  </form> {* PhoneEditForm *}
  </div> {* PhoneEditDialog *}


  <div id="EmailEditDialog" style="display: none">
  <form method="post" action="contact.php"
        id="EmailEditForm" autocomplete="off">
    <input type="hidden" name="EditEmailID" id="EditEmailID">
    <input type="hidden" name="ContactID" value="{$cdata->contact_id}">
    <input type="hidden" name="buttonAction">
    <table class="edit">
      <tr><td class="label">E-mail Type: </td>
          <td><select id="EditEmailType" name="EditEmailType">
              {foreach from=$email_type_list item=$tl}
                <option value="{$tl.email_type_id}">
                {$tl.email_type}</option>
              {/foreach}
          </select></td>
      </tr>
      <tr><td class="label">E-mail: </td>
          <td><input id="EditEmail" name="EditEmail">
          </td>
      </tr>
  </table>
  </form> {* EmailEditForm *}
  </div> {* EmailEditDialog *}

  <div id="AddressEditDialog" style="display: none">
  <form method="post" action="contact.php"
        id="AddressEditForm" autocomplete="off">
    <input type="hidden" name="EditAddressID" id="EditAddressID">
    <input type="hidden" name="ContactID" value="{$cdata->contact_id}">
    <input type="hidden" name="buttonAction">
    <table class="edit">
      <tr><td class="label">Address Type: </td>
          <td><select id="EditAddressType" name="EditAddressType">
              {foreach from=$address_type_list item=$tl}
                <option value="{$tl.address_type_id}">
                {$tl.address_type}</option>
              {/foreach}
          </select></td>
      </tr>
      <tr><td class="label">Street Address 1: </td>
          <td><input id="EditAddr1" name="EditAddr1">
          </td>
      </tr>
      <tr><td class="label">Street Address 2: </td>
          <td><input id="EditAddr2" name="EditAddr2">
          </td>
      </tr>
      <tr><td class="label">Postal Code: </td>
          <td><input id="EditZip" name="EditZip" onblur="cityLookup(this)">
          </td>
      </tr>
      <tr><td class="label">City: </td>
          <td><input id="EditCity" name="EditCity">
          </td>
      </tr>
      <tr><td class="label">State: </td>
          <td><input id="EditState" name="EditState">
          </td>
      </tr>
      <tr><td class="label">Country: </td>
          <td><input id="EditCountry" name="EditCountry">
          </td>
      </tr>
  </table>
  </form> {* AddressEditForm *}
  </div> {* AddressEditDialog *}
