{* Dialogs for Utility page *}

<div id="TextInputDialog" style="display: none">
  <form method="post" action="utility.php"
        id="TextInputForm" autocomplete="off">
    <input type="hidden" name="buttonAction">
    <textarea id="InputText" name="InputText"
       style="width: 300px; height: 300px;"></textarea>
  </form> {* TextInputForm *}
</div> {* TextInputDialog *}

{* "floating" form for buttons to submit *}
<form method="post" action="utility.php"
   id="UtilityForm">
  <input type="hidden" name="buttonAction">
</form>
